body{
  color:var(--white-color);
  background: var(--bg-color);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 95%;
}
:root{
  --bg-color:#1f242d;
  --second-bg-color:#323946;
  --main-color:aqua;
  --white-color:#fff;
  --diabled-color:#fff3;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f242d;
  z-index: 100;
}

#menu-icon {
  display: none;
  font-size: 28px;
  color: var(--white-color);
  cursor: pointer;
}

nav {
  display: flex;
  gap: 2rem;
  margin-right: 90px;
}

nav a {
  font-size: 18px;
  color: var(--white-color);
  font-weight: 500;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1f242d;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 0;
    display: none; 
  }

  nav.active {
    display: flex;
  }
}

.logo{
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 700;
}

nav a{
  font-size: 18px;
  color:var(--white-color);
  margin-left: 2.5rem;
  font-weight: 500;
}
nav a:hover,
nav a.active
{
  color: var(--main-color);
}
section {
  position: absolute; /* Ensures sections overlap properly */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 9% 2rem; /* Adjust padding so content starts correctly */
  background: var(--bg-color);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

section.active {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.bx {
  font-size: 2rem; /* Make it bigger */
  color: #333; /* Add color */
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.home-detail h1{
  font-size: clamp(1.5rem,10vw,1.8rem);
}
.home-detail h2{
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
}
.home-detail h2 span{
  position: relative;
  display: inline-block;
  color: var(--main-color);
  margin-left: 10px;
 /* -webkit-text-stroke:1px var(--main-color) */
}
/* .home-detail h2 span::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: .2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;

}

@keyframes fill-text{
  10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}

.home-detail h2 span{
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
  animation: display-text 10s linear infinite;
  animation-delay: calc( var(--i));
}
@keyframes display-text{
  25%,100%{
    display: none;
  }
} */
.home-detail p{
  font-size: 15px;
  margin-top: 8px;
  font-weight: 520;
  word-spacing: 2px;
  line-height: 1.4;
}
.home-detail .btn-links{
    display: flex;
    align-items: center;
}
.home-detail .btn-links .btn{
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
  transition: .5s;
}
.btn-links .btn:hover{
  background-color: transparent;
  color: var(--main-color);
  box-shadow: none;
  cursor: pointer;
}
.btn-links .links{
  margin: 1rem 3rem ;
  transition: .5s;

}
.home-detail .btn-links .links a{
  display: inline-flex;
  padding: 5px;
  border: 2px solid var(--main-color);
  border-radius: 75%;
  font-size: 2rem;
  background-color: var(--main-color);
  margin: 0px .5rem;
  margin-top: 5px;
  transition: .5s;
  box-shadow: 0 0 0.3rem var(--main-color);
  
}
.home-detail .btn-links .links a:hover{
    color: var(--bg-color);
    background: transparent;
    box-shadow: none;
}
.home-img .img-box{
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1; /* Keeps it below modal */


}
.home-img .img-box::before,
.home-img .img-box::after{
  content: '';
  position: absolute;
  width: 100rem;
  height: 30rem;
  background:conic-gradient(transparent,transparent,transparent,var(--main-color));
  transform: rotate(0deg);
  animation: rotate-border 8s linear infinite;
}
.home-img .img-box::after{
  animation-delay: -4s;
}
@keyframes rotate-border {
  100%{
    transform: rotate(360deg);
  }
}
@keyframes slideDownFade {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightFade {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-img .img-box,
.home-detail h1,
.home-detail h2,
.home-detail p,
.btn-links {
  opacity: 0;
  transform: translateY(-100px); /* Hide above */
}

.home.active .home-img .img-box {
  animation: slideDownFade 1s ease-in-out forwards;
}

.home.active .home-detail {
  animation: slideRightFade 1s ease-in-out forwards;
}

.home.active .home-detail h1,
.home.active .home-detail h2,
.home.active .home-detail p,
.home.active .btn-links {
  animation: slideRightFade 1.5s ease-in-out forwards;
  animation-delay: 0.7s;
}


.home-img .img-box .img-item{
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 80%;  
  /* border: 1px solid var(--main-color);  */
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow:hidden;
}
.home-img .img-box .img-item img{
  position:absolute;
  /* display: block; */
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}
/* Skills section*/
.heading{
  font-size: 2.5rem;
  text-align: left;
  margin-bottom:2rem ;
}
.heading span{
  margin-left: 6px;
  color: var(--main-color);
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Always 4 items per row */
  gap: 10px; /* Space between items */
}
.skills-container .skills-box{
  padding: 8px 10px;
  background: var(--second-bg-color);
  border: 2px solid var(--second-bg-color);
  border-radius: 10px;
  transition: .5s;
}
.skills-container .skills-box:hover{
  border-color: var(--main-color);
  transform: scale(20px);
  cursor: pointer;
}
.skills-box .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.skills-box .icon i{
  font-size: 25px;
  color: #fff;
  transition:.5s;
}
.skills-box:hover .icon :not(a i){
  color: var(--main-color);
}
.skills-box .icon a i{
  display: inline-flex;
  background: var(--white-color);
  border-radius: 50%;
  padding: 5px;
  color: #333;
  transition: .5s;
}
.skills-box .icon a {
  font-size: 1rem;
  transform: rotate(225deg);
  transition: .3s;
}
.skills-box .icon a:hover{
  transform: rotate(180deg);
}
.skills-box:hover .icon a i{
  background-color: var(--main-color);
}
.skills-box  h3{
  font-size: 21px;
  margin: 1px;
}
.skills-box:hover h3{
  color: var(--main-color);
}

.skills-box p{
  font-size: 16px;
  margin-top: 10px;

}
/* Fade and slide in effect */
@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skills-box, .heading {
  opacity: 0;
  transform: translateY(30px);
}

.skills.active .skills-box {
  animation: fadeInUp 0.8s ease-out forwards;
}

.skills.active .skills-box:nth-child(1) { animation-delay: 0.1s; }
.skills.active .skills-box:nth-child(2) { animation-delay: 0.2s; }
.skills.active .skills-box:nth-child(3) { animation-delay: 0.3s; }
.skills.active .skills-box:nth-child(4) { animation-delay: 0.4s; }
.skills.active .skills-box:nth-child(5) { animation-delay: 0.5s; }
.skills.active .skills-box:nth-child(6) { animation-delay: 0.6s; }
.skills.active .skills-box:nth-child(7) { animation-delay: 0.7s; }
.skills.active .skills-box:nth-child(8) { animation-delay: 0.8s; }
.skills.active .skills-box:nth-child(9) { animation-delay: 0.9s; }

.skills.active .heading {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

/* resume section */
.resume-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}
.resume-container h2{
  font-size: 2rem;
}
.resume-container p{
  margin: 10px 0px 10px ;
}
.resume-container .resume-btn{
  width: 100%;
  height: 70px;
  background-color: var(--second-bg-color);
  border: 2px solid var(--second-bg-color);
  border-radius: .3rem;
  font-size: 17px;
  color: var(--white-color);
  font-weight: 500;
  margin: 6px;
  cursor: pointer;
  transition: .5s;
}
.resume-btn.active{
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
/* .resume-container .resume-btn:hover{
  color: var(--main-color);
  border: 2px solid var(--main-color);
} */
.resume-detail-experience h2{
  text-align: left;
}
.resume-title span{
  margin-left: 18rem;
}
.resume-ul-list li{
  margin: 5px;
}
.education-list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
}
.education-list .education-item{
  background: var(--second-bg-color);
  border: 2px solid var(--second-bg-color);
  border-radius: 10px;
  transition: .5s;
  margin: 5px;
  padding: 0px 30px;
}
.education-list .education-item:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
  cursor: pointer;
}
.education-item .year{
  color: var(--main-color);
}
.resume-item .year{
  color: var(--main-color);
}
.resume-skills-list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  gap: 10px;
}
.resume-skills-list .resume-skills-item{
  padding: 34px ;
  background: var(--second-bg-color);
  border: 2px solid var(--second-bg-color);
  border-radius: 10px;
  transition: .5s;
}
.resume-skills-list .resume-skills-item:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
  cursor: pointer;
}
.resume-skills-item i{
  color: var(--white-color);
}
.resume-skills-item:hover i{
  color: var(--main-color);
}
 .resume-skills-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
.resume-about-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin-top: 80px;
  width: 100%;
}

.resume-about-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: linear-gradient(135deg, #2a2e35, #1f242d);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--main-color);
  box-shadow: 0px 3px 3px rgba(0, 255, 255, 0.2);
  transition: 0.4s ease-in-out;
}

.resume-about-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.4);
  cursor: pointer;
}

.resume-about-item i {
  font-size: 24px;
  color: var(--main-color);
  margin-right: 12px;
}

.resume-about-item p {
  font-size: 14px;
  color: var(--white-color);
  margin: 0;
  font-weight: 500;
}

.resume-about-item span, 
.resume-about-item span a {
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
  margin-left: 5px;
}

.resume-about-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.resume-sections div {
  display: none;
}

.resume-sections .active {
  display: block;
}
@keyframes slideDownFade {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightFade {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home-img .img-box,
.home-detail h1,
.home-detail h2,
.home-detail p,
.btn-links,
.resume-container {
  opacity: 0;
  transform: translateY(-50px);
}

.home.active .home-img .img-box {
  animation: slideDownFade 1s ease-in-out forwards;
}

.home.active .home-detail {
  animation: slideRightFade 1s ease-in-out forwards;
}

.home.active .home-detail h1,
.home.active .home-detail h2,
.home.active .home-detail p,
.home.active .btn-links {
  animation: slideRightFade 1.5s ease-in-out forwards;
  animation-delay: 0.7s;
}

.resume-container {
  opacity: 0;
  transform: scale(0.9);
}

.resume.active .resume-container {
  animation: fadeIn 1s ease-in-out forwards;
}

.resume-container .resume-btn {
  opacity: 0;
  transform: translateY(20px);
}

.resume.active .resume-container .resume-btn {
  animation: slideDownFade 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.education-list .education-item {
  opacity: 0;
  transform: translateY(30px);
}

.resume.active .education-list .education-item {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.resume-skills-list .resume-skills-item {
  opacity: 0;
  transform: scale(0.8);
}

.resume.active .resume-skills-list .resume-skills-item {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

@media screen and (max-width: 390px) {
  .resume-about-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .resume-sections .active {
    display: block;
  }

  .resume-about-item {
    flex-direction: column;
    text-align: center;
    padding: 12px;
  }

  .resume-about-item i {
    margin-bottom: 5px;
  }

  .resume-about-item:hover {
    transform: none;
  }

  .resume-about-item p {
    font-size: 14px;
  }

  .resume-about-item span, 
  .resume-about-item span a {
    font-size: 14px;
  }
}


@media screen and (max-width: 390px) {
 
  .resume-about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .resume-about-item {
    width: 90%; 
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
}


.project-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3.6rem;
}
.project-box .numb{
  font-size: 5.5rem;
  -webkit-text-stroke: .09rem var(--white-color);
  color: transparent;
  line-height: 1;
}
.project-detail{
  display: none;
}
.project-detail.active{
  display: block;
}
.project-box h3{
  margin: 0.5rem 0px 1rem;
  font-size: 2rem;
}
.project-box p{
  font-size: 15px;
  margin-top: 8px;
  font-weight:540;
  line-height: 1.4;
  /* word-spacing: 1px; */
  /* margin: 1rem 0rem 0.1rem; */
}
.project-detail .tech{
  font-weight: 650;
  margin: 1rem 0;
  padding-bottom: 2rem;
  color: var(--main-color);
  border-bottom: 1px solid var(--white-color);
  letter-spacing: 1px;
}
.project-detail .live-github a{
  position: relative;
  display: inline-flex;
  padding: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  background: var(--second-bg-color);
  border-radius: 50%;
}
.project-detail .live-github a i{
  color: var(--white-color);
}
/* .project-box .live-github a:first-child {
  margin-right: 0.5rem;
} */
/* .project-box .live-github a:first-child i{
  transform: rotate(135deg);
} */
.project-box .live-github a span{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  padding: .3rem 1rem;
  pointer-events: none;
  background-color: var(--white-color);
  color: var(--bg-color);
  border-radius: .3rem;
  opacity: 0;
  scale: .9;
  transition: .2s;
  
}
.project-box .live-github a:hover span{
  opacity: 1;
  top:-70%;
  scale: 1.1;
  font-size: 1rem;
}
.project-box .project-carousel{
  width: 120%;
  height: 24vw;
  overflow: hidden;
  border: 1px solid var(--main-color);
}
.project-carousel .img-slide .img-item img{
  width: 100%;
  height: 25vw;
  border-radius: 10px;

}
.project-box .project-carousel .img-slide {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  gap: 0;
  height: inherit;
  transition: .2s;
}
.project-box .project-carousel .img-item{
  height: inherit;
}
.project-carousel .img-item img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.project-box .navigation{
  text-align: right;
  margin-top: 20px;
}
.project-box .navigation button{
  padding: 10px 20px;
  margin: 4px;
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
}
.project-box .navigation button i{
  color: var(--main-color);
  cursor: pointer;
}
.arrow-left:disabled,
.arrow-right:disabled {
  opacity: 0.5; 
  cursor: not-allowed;
  background-color: #ccc; 
  color: #666; 
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUpFade {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.projects .project-container,
.projects .project-box,
.projects .img-slide .img-item {
  opacity: 0;
  transform: translateY(30px);
}

.projects.active .project-container {
  animation: fadeInScale 1s ease-in-out forwards;
}

.projects.active .project-box {
  animation: slideUpFade 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.projects.active .img-slide .img-item {
  animation: fadeInScale 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.project-carousel .img-slide {
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.project-box .navigation button:hover {
  /* background-color: var(--main-color); */
  color: var(--white-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.project-detail .live-github a:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.contact-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  /* gap:4rem; */
}
.contact-container .contact-box:first-child{
  align-self: center;
}
.contact-box .desc{
  margin-top: 8px;
} 
.contact-box .contact-detail{
 display: flex;
 align-items: center; 
}
.contact-detail i{
  display: inline-flex;
  background: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 12px;
  color: var(--white-color);
  padding: 10px;
  margin: 10px 10px;
} 
.contact-detail .detail p:first-child{
   color: var(--main-color);
   font-size: 14px;

}
.contact-detail .detail a{
  color: var(--white-color);
  font-size: 14px;
  /* text-decoration: underline; */
}
 .address{
  color: var(--white-color);
}
.contact-detail .detail a:hover{
  color: lightcoral;

}
.contact-box .desc{
  font-size: 15px;

}
.contact-detail .detail p{
  color: var(--main-color);
  font-size: 15px;
}
.contact-detail i:hover{
  cursor: pointer;
  color: var(--main-color);
}
.contact-box .btn{
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
  transition: .5s;
}
.contact-box .btn:hover{
  background-color: transparent;
  color: var(--main-color);
  box-shadow: none;
}
.contact-box form{
  background: var(--second-bg-color);
  padding: 2rem 3rem 2rem;
  border-radius: 10px;
  text-align: center;
}
.contact-box .field-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.contact-box .field-box textarea{
  grid-column: 1/-1;
  height: 13vh;
  resize: none;
}
.field-box input{
  padding: 5px 5px;
  width:100% ;
  transition: .5s;
}
.contact-box .field-box input,
.contact-box .field-box textarea{
  padding: 8px 15px 20px;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  color: var(--white-color);
}
.contact-box .field-box input::placeholder,
.contact-box .field-box textarea::placeholder{
  /* color: var(--white-color); */
  font-size: 13px;
  margin: 10px;
}
.contact-box .heading{
  text-align: center;
  font-size: 30px;
}
/* .contact-box h2{
  font-size: 40px;
} */
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
  border: 1px solid var(--main-color);
  outline: none;
  box-shadow: 0px 0px 10px var(--main-color);
}
/* Bars Container */
.bars-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Individual Bars */
.bars-box .bar {
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 2px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.bars-box.active .bar {
  animation: show-bars 0.5s ease-in-out both;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Full-screen overlay */
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 9999;
  margin-bottom: 50%;
  
}

.pdf-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 70vw; 
  height: auto; 
  max-height: 80vh; 
  overflow: auto; 
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}

.resume-img {
  width: 100%; 
  height: auto; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
}


.resume-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}




/* ========== Mobile Responsive Styling (Max Width: 390px) ========== */
@media screen and (max-width: 395px) {

  header {
    padding: 1rem 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5rem; /* Reduce size for smaller screens */
  }

  nav a {
    font-size: 14px;
    margin-left: 1rem; 
  }

  section {
    padding: 6rem 5% 2rem; 
  }

  .home {
    flex-direction: column; 
    text-align: center; 
    gap: 2rem; 
    margin-top: 80px;
  }

  .home-detail h1 {
    font-size: 1.4rem; 
  }

  .home-detail h2 {
    font-size: 14px; /* Reduce subheading size */
  }

  .home-detail p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.3;
    text-align: start;
  }

  .home-detail .btn-links {
    flex-direction: column; 
    align-items: center;
  }

  /* .btn-links .btn {
    font-size: 14px;
    margin-right: 11.4rem;
    height: 50px;
    padding: .1rem;
  } */

  .btn-links .links {
    margin: 0.5rem 0;
  }

  .home-detail .btn-links .links a {
    font-size: 1rem; 
    padding: 4px;
    width: 38px;
    height: 38px;
  }

  .home-img .img-box {
    width: 65vw;
    height: 65vw;
  }

  .home-img .img-box .img-item img {
    width: 75%; 
  }

  .contact-container {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 1.5rem;
  }

  .contact-box {
    padding: 1.5rem;
  }

  .contact-box h2 {
    font-size: 24px;
  }

  .contact-detail {
    flex-direction: column;
    text-align: center;
  }

  .contact-detail i {
    font-size: 20px;
    margin-bottom: 5px;
  }

  footer {
    text-align: center;
    font-size: 14px;
    padding: 1rem;
  }
  .skills-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 

  }
  .resume-container {
    grid-template-columns: 1fr; 
    gap: 2rem;
    padding: 1rem;
    text-align: start;

  }

  .resume-box {
    text-align: start;
    width: 80%;
  }

  .resume-container h2 {
    font-size: 1.5rem;
  }

  .resume-container p {
    font-size: 14px;
  }

  .resume-container .resume-btn {
    height: 50px;
    font-size: 14px;
    margin: 4px;
    width: 100%;
  }

  .resume-title span {
    text-align: start;
    margin-left: 2px;
    font-size: 12px;
  }

  .resume-ul-list li {
    font-size: 15px;
    margin: 10px 48px;
    word-spacing: 2px;
    width: 80%;
  }
  .resume-ul-list p{
    margin-left: 45px;
    

  }
  .resume-skills-item .resume-title{
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .education-detail-education{
    width: 100%;
  }
  .education-list {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: start;
    width: 130%;
  }

  .education-list .education-item {
    padding: 10px;
    text-align: start;
  }

  .resume-skills-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
  }

  .resume-skills-list .resume-skills-item {
    padding: 20px;
  }

  .resume-about-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom:70px;

  }

  .resume-about-item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* background: var(--second-bg-color); */
    /* border: 1px solid var(--main-color); */
    transition: 0.3s;
    text-align: start;
  }

  .resume-about-item:hover {
    /* background: var(--main-color); */
    color: var(--bg-color);
  }

  .resume-about-item p {
    font-size: 14px;
    margin: 0;
  }

  .resume-about-item span, 
  .resume-about-item span a {
    font-size: 14px;
    color: var(--main-color);
  }

  .resume-about-item a {
    word-break: break-word; 
  }
  .project-box p{
    font-size: 15px;
    margin-top: 8px;
    font-weight:540;
    line-height: 1.4;
    width: 95%;
  }
  .project-box .project-carousel{
    width: 95%;
    height: 50vw;
    overflow: hidden;
    border: 1px solid var(--main-color);
  }
  .project-carousel .img-slide .img-item img{
    width: 100%;
    height: 50vw;
    border-radius: 10px;
  
  }
  .project-detail .tech{
    width: 95%;
  }
  .project-box .navigation{
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
  }
  .project-box .navigation button{
    padding: 10px 20px;
    margin: 6px;
    background-color: var(--second-bg-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
  }
  .project-box .navigation button i{
    color: var(--main-color);
    cursor: pointer;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .contact-box {
    width: 100%;
    padding: 1.2rem;
    text-align: center;
  }

  .contact-detail {
    flex-direction: row;
    text-align: start;
    padding: 10px;
    width: 100%;
  }

  .contact-detail i {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 8px;
  }

  .contact-detail .detail p {
    font-size: 14px;
  }

  .contact-box form {
    padding: 1.2rem;
    border-radius: 8px;
  }

  .contact-box .field-box {
    grid-template-columns: 1fr; 
    gap: 12px;
  }

  .contact-box .field-box input,
  .contact-box .field-box textarea {
    font-size: 14px;
    padding: 12px;
    width: 100%;
  }

  .contact-box .field-box textarea {
    height: 100px;
  }
  
  .contact-box .btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 14px;
    margin-top: 0.8rem;
    border-radius: 5px;
  }
  .pdf-modal {
    position: fixed; 
    top: 0;
    left: 0;
    right: 10px;
    width: 105%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  .pdf-container {
    background: #fff;
    right: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    max-width: 160%;
    max-height: 150%;
    overflow: auto;
    position: relative;
    z-index: 10000;
    margin-bottom: 180%;
  } 
}



